/*
    Application custom theme
*/

/* btn default uppercase text override */
.btn {
    text-transform: none !important;
}

.headerNav{
    background-color: rbg( 48, 151, 209 ) !important;
}

body{
    /*background-color: rgb(195,230,200) !important;*/
    background-color: whitesmoke !important;
}