/*
    Application custom theme
*/

/* btn default uppercase text override */
.btn {
    text-transform: none !important;
}

.headerNav{
    background-color: rbg( 48, 151, 209 ) !important;
}

body{
    /*background-color: whitesmoke !important;
    background-color: rgb(195, 176, 145) !important;*/
}

h2{
    text-indent: 15px;
}
/*.well{
    background-color: rgb(195, 176, 145) !important;
}*/